In [1]:
from sumeval.metrics.bleu import BLEUCalculator
from sumeval.metrics.rouge import RougeCalculator
import pandas as pd

WARNING:root:Could not import signal.SIGPIPE (this is expected on Windows machines)

In [2]:
input_file_name = 'input_excel/input_files.xlsx'
input_df = pd.ExcelFile(input_file_name).parse()
# input_microphone_df = pd.ExcelFile(input_file_name).parse(skiprows=2)

In [3]:
input_df

,id,ref_text,input_text
0,1,スマートフォンは、インターネットを手軽に利用するためのデバイスとして\n認知され、コスト削減...,スマートフォンの次に来るものスマートフォンはインターネットを手軽に利用するためのデバイスとし...
1,2,それではこれから今日のお昼何を食べたいかについて話し合いたいと思います。まず中村さん何を食べ...,それではこれから今日のお昼何を食べたいくかについて話し合いたいと思います。まだ中村さん何を食...
2,3,未来共創イノベーションネットワーク2年目の活動\n 未来共創イノベーションネットワーク (I...,未来共創イノベーションネットワーク2年目の活動未来共創イノベーションネットワークincfは2...

In [4]:
# for i in input_microphone_df['ref_text'].values:
bleu_ja = BLEUCalculator(lang="ja")
rouge = RougeCalculator(lang="ja")
output_dict = {'blue':[], 'rouge_1':[], 'rouge_2':[], 'rouge_long':[]}
for index, row in input_df.iterrows():
    output_dict['blue'].append(bleu_ja.bleu(row['ref_text'], row['input_text']))  # BLEUでの評価
    output_dict['rouge_1'].append(rouge.rouge_n(summary=row['ref_text'], references=row['input_text'], n=1))  # ROUGE(n1)での評価
    output_dict['rouge_2'].append(rouge.rouge_n(summary=row['ref_text'], references=row['input_text'], n=2))  # ROUGE(n2)での評価
    output_dict['rouge_long'].append(rouge.rouge_l(summary=row['ref_text'], references=row['input_text']))       # ROUGE(rouge_l)での評価
    # input_microphone_df['rouge_be'] = rouge.rouge_be(summary=row['ref_text'], references=row['input_text'])      # ROUGE(rouge_be)での評価    
output_dict

{'blue': [69.84996616550504, 62.85968996828376, 85.51142745756943],
 'rouge_1': [0.8282828282828283, 0.8, 0.9493087557603687],
 'rouge_2': [0.7628865979381443, 0.6905829596412556, 0.9023255813953488],
 'rouge_long': [0.8282828282828283, 0.7644444444444445, 0.9493087557603687]}

In [5]:
input_df['blue']=output_dict['blue']
input_df['rouge_1']=output_dict['rouge_1']
input_df['rouge_2']=output_dict['rouge_2']
input_df['rouge_long']=output_dict['rouge_long']
input_df

,id,ref_text,input_text,blue,rouge_1,rouge_2,rouge_long
0,1,スマートフォンは、インターネットを手軽に利用するためのデバイスとして\n認知され、コスト削減...,スマートフォンの次に来るものスマートフォンはインターネットを手軽に利用するためのデバイスとし...,69.849966,0.828283,0.762887,0.828283
1,2,それではこれから今日のお昼何を食べたいかについて話し合いたいと思います。まず中村さん何を食べ...,それではこれから今日のお昼何を食べたいくかについて話し合いたいと思います。まだ中村さん何を食...,62.859690,0.800000,0.690583,0.764444
2,3,未来共創イノベーションネットワーク2年目の活動\n 未来共創イノベーションネットワーク (I...,未来共創イノベーションネットワーク2年目の活動未来共創イノベーションネットワークincfは2...,85.511427,0.949309,0.902326,0.949309

In [6]:
input_df.to_excel('output_excel/output.xlsx')